
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/modernizr")
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/Content/Fonts/font.css" />
    <link rel="stylesheet"
          type="text/css"
          href="~/Content/bootstrap.rtl.min.css" />
    <link rel="stylesheet"
          type="text/css"
          href="~/Content/fontawesome.min.css" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/Homepage.css" />
    <link href="~/assets/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/dscaResposive.css" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicons/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicons/apple-touch-icon.png">
    


    <style>
        .top-bar {
            padding: 20px 0 6px 0;
        }

        .navbar-tabs {
            margin-top: 27px;
        }
    </style>

</head>


<body>
	<!--TopBar-->
	<div class="TopBar">
		<div class="container">
			<div class="row">
                <div class="col-md-12 text-center">
                    @*<ul class="headerList">
            <li>
                <i class="fa-solid fa-phone-flip icon"></i>
                <a href="tel:+201458959206">   4421060 – 011</a>
            </li>

            <li>
                <i class="fa-solid fa-envelope icon"></i>

                <a href="mailto:dsca@dsca.org.sa">dsca@dsca.org.sa</a>

            </li>

            <li><i class="fa-solid fa-location-dot icon"></i> الرياض</li>
        </ul>*@
                    لتتمكن من الدفع بواسطة ابل باي يجب عليك استخدام متصفح سفاري
                </div>
				<!--<div class="col-md-6 text-end">
					<div class="social">
						<ul class="headerSocial">
							<li>
								<a href="https://twitter.com/DSCA_ORG" target="_blank"> <i class="fa-brands fa-twitter fa-lg"></i></a>
							</li>

							<li>
								<a href="https://wa.me/966557799492" target="_blank"><i class="fa-brands fa-whatsapp fa-lg"></i></a>
							</li>

							<li>
								<a href="https://www.facebook.com/dsca.org" target="_blank"><i class="fa-brands fa-facebook-f fa-lg"></i></a>
							</li>

							<li>
								<a href="https://www.instagram.com/dsca_org/" target="_blank"><i class="fa-brands fa-instagram fa-lg"></i></a>
							</li>
							<li>
								<a href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQFIM04yAXljZQAAAYBC6AqoTSwsuTCr4sunb_kZgX1N7ngRFGc1rBIsTUz6A5TIh_IxA4PMGOqzhAE_K3AGxsmlugXbAu42BeoN4_icMa07jMYTB5DSc8BPSI2b_rzsULqN24s=&originalReferer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fdown-syndrome-charitable-association%2F" target="_blank"><i class="fa-brands fa-linkedin fa-lg"></i></a>
							</li>
						</ul>
					</div>-->

					<!-- <div class="LoginArea">
						<ul class="headerList">
							<li><i class="fa-regular fa-user icon"></i> إنشاء حساب</li>
							<li><i class="fa-solid fa-lock icon"></i> تسجيل الدخول </li>


						</ul> -->
				<!--</div>-->
			</div>
		</div>
	</div>


	<!--Navbar-->

	<nav id="home" class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("index","Home")"><img height="80" src="~/images/logo.png"></a>
            <div class="d-flex">
                <a class="btn btn-Donation ShowinLowScreen position-relative" href="@Url.Action("DonationCart","Home")">
                    <img width="25" src="~/images/cart (2).svg" />   سلة التبرع


                    <span id="CartItemsSpan" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        @ViewBag.CartItems
                        <span class="visually-hidden">unread messages</span>
                    </span>


                </a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-self-end">

                    @foreach (var item in ViewBag.StaticPages)
                    {
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="@Url.Action("DisplayStaticContent", "Home", new { Name=item.URL })">	@item.Name </a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="https://dsca.org.sa/">جمعيتنا </a>
                    </li>


                    <div class="donation-btns">
                        <a class="btn btn-Donation HideAllscreens position-relative" href="@Url.Action("DonationCart","Home")">
                            <img width="25" src="~/images/cart (2).svg" />   سلة التبرع


                            <span id="CartItemsSpan" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                @ViewBag.CartItems
                                <span class="visually-hidden">unread messages</span>
                            </span>


                        </a>
                        <button data-bs-toggle="modal" data-bs-target="#FastDonation" class="btn btn-Donation" type="button">
                            <img width="25" src="~/images/hand-donate.svg" />   التبرع السريع
                        </button>
                    </div>
                </ul>

                <div class="mobile-hidden">
                    <img height="60" src="~/images/DSCA LOGO1.png">
                </div>
            </div>
        </div>
	</nav>

	

	<!-- body-->

	@RenderBody()






	<!--Footer area-->


	<footer>
		<div class="container">
            <div class="row">

                <div class="col-md-4">
                    <h5 class="footer-title"> عن المبره</h5>
                    <p style=" margin: 28px 0; line-height: 1.9;">سيحقق الاستدامة و الاكتفاء الذاتي مادياً مع مراعاة طبيعة الاحتياجات الفردية ، هذا وسوف يوفر المجمع كافة الخدمات للمواطنين والمقيمين بأسلوب معيار تدريجي للدفع وتخصيص بعض المراكز الخدمية داخل المجمع لتكون مراكز ربحية.</p>
                </div>
                <div class="col-md-4">
                    <h5 class="footer-title">روابط هامه</h5>
                    <div class="d-flex gap-5">
                       

                        <ul class="footer-links">

                            <li><a href="@Url.Action("DisplayStaticContent", "Home", new { Name = "عن-الجمعيه" })">عن المبرة</a></li>
                            <li><a href="@Url.Action("DisplayStaticContent", "Home", new { Name = "الحسابات-البنكية" })">الحسابات البنكي</a></li>
                            <li><a href="@Url.Action("Index","Home")" >المشاريع</a></li>
                            <li><a href="@Url.Action("DisplayStaticContent","Home", new { Name="اتصل-بنا" })">اتصل بنا</a></li>
                            <li> <a  href="@Url.Action("DonationCart","Home")"> سلة التبرعات</a></li>
                            <li> <a aria-current="page" target="_blank" href="https://dsca.org.sa/">جمعيتنا </a></li>
                        </ul>

                       
                    </div>
                </div>

                <div class="col-md-4">
                    <div>
                      
                        <ul class="footer-donors">
                            <li class="preview-info-list__item">
                                <span class="Analysis-title"> <i class="fa-solid fa-people-group footer-icon"></i>عدد المتبرعين   </span>
                                <div class="donors">
                                    3
                                </div>
                                <div class="descrption">متبرع</div>
                            </li>
                            <li class="preview-info-list__item">
                                <span class="Analysis-title">
                                    <i class="fa-solid fa-file footer-icon"></i>
                                    عدد المشاريع
                                </span>
                                <div data-v-6325d1f0="" class="donors">
                                    1
                                </div>
                                <div class="descrption">مشروع</div>
                            </li>
                        </ul>
                    </div>

                    <ul class="FooterSocial">
                        <li>
                            <a href="https://twitter.com/DSCA_ORG" target="_blank"> <i class="fa-brands fa-twitter fa-lg"></i></a>
                        </li>

                        <li>
                            <a href="https://wa.me/966557799492" target="_blank"><i class="fa-brands fa-whatsapp fa-lg"></i></a>
                        </li>

                        <li>
                            <a href="https://www.facebook.com/dsca.org" target="_blank"><i class="fa-brands fa-facebook-f fa-lg"></i></a>
                        </li>

                        <li>
                            <a href="https://www.instagram.com/dsca_org/" target="_blank"><i class="fa-brands fa-instagram fa-lg"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQFIM04yAXljZQAAAYBC6AqoTSwsuTCr4sunb_kZgX1N7ngRFGc1rBIsTUz6A5TIh_IxA4PMGOqzhAE_K3AGxsmlugXbAu42BeoN4_icMa07jMYTB5DSc8BPSI2b_rzsULqN24s=&originalReferer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fdown-syndrome-charitable-association%2F" target="_blank"><i class="fa-brands fa-linkedin fa-lg"></i></a>
                        </li>
                    </ul>
                </div>

            </div>
		</div>
	</footer>


	<!-- copyright-->

	<section class="container copyright">
       <div class="row">
           <div class="col-md-8 col-xs-12">
               <div>الجمعيه مسجله تحت رقم  197</div>
               
           </div>
		   
           <div class="col-md-4 col-xs-12 copyright-social">
               <div>
                   <img class="payment-img" src="~/images/visa.svg" />
                   <img class="payment-img" src="~/images/master.svg" />
                   <img class="payment-img" src="~/images/mada.svg" />
                   <img class="payment-img" src="~/images/Apple_Pay-Logo.wine-removebg-preview.png" />
                   <img style="width:30px; margin-top:-5px" src="~/images/png-transparent-wire-transfer-bank-account-payment-exchange-rate-payment-method-text-service-logo-removebg-preview.png" />


               </div>
           </div>
	   </div>
	</section>



	<!-- Fast Donation pop up-->

	<div class="modal fade" id="FastDonation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">تبرع سريع</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
				<label class="form-label"> مبلغ التبرع</label>
					<input id="FreeDonationInput" class="form-control" onkeypress="return isNumber(event)"/>
				</div>
				<div class="modal-footer">
				
					<button type="button" class="fast-donation" onclick="CollectFreeDonation()">تبرع</button>
				</div>
			</div>
		</div>
	</div>

	@Scripts.Render("~/bundles/jquery")
	<script src="~/Scripts/DscaScripts/jquery.js"></script>
	<script src="~/Scripts/DscaScripts/bootstrap.min.js"></script>
	<script src="~/Scripts/DscaScripts/fontawesome.min.js"></script>
	<script src="~/Scripts/DscaScripts/all.min.js"></script>
	<script src="~/Scripts/wow.min.js"></script>
	<script src="~/assets/sweetalert/sweetalert.min.js"></script>
	<script>
		new WOW().init();


     
	</script>

	@RenderSection("scripts", required: false)
</body>
</html>
