@using DCSA.Database
@{
    ViewBag.Title = "مشروع المتجر الإلكتروني";

}

<!--slider-->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/slid.jpg" class="d-block w-100" alt="slider1">
        </div>
        <div class="carousel-item">

            <img class="d-block w-100" src="~/images/الجمعية_الخيرية_لمتلازمة_داون_dsca_store.png" />
        </div>

    </div>
</div>

<div>

    <div class="container-fluid">
        <h3 class="sectionTitle text-center mt-5">	فرص وطرق التبرعات للمبنى </h3>

        <div class="container">
            <div class="row">

                @foreach (Caus item in ViewBag.Causes)
                {
                    double left = item.TargetMoney.Value - item.Donations.Sum(x => x.Amount).Value;
                    double Perc = Math.Round(item.Donations.Sum(x => x.Amount).Value / item.TargetMoney.Value * 100, 0);
                    string PColor = "#fff";
                    if (Perc == 0)
                    {
                        PColor = "#4f5152";
                    }





                    <div class="col d-flex justify-content-center mb-5">

                        <div class="donation-card @*donation-card-Done*@ wow bounceInUp">



                            <div class="Cardimg-holder" style="background-image: url(@item.CoverPhoto );">

                            </div>
                            <div class="card-mainbody">


                                <div class="card-maintitle">
                                    <a class="card-title" href="#">	@item.Header</a>
                                    <div class="card-details">
                                        <a class="card-title" href="@Url.Action("CauseDetails", "Home", new { id = item.ID})">التفاصيل</a>
                                    </div>
                                </div>
                                <div class="Card-content">
                                    <p>@item.ShortDescription....</p>
                                </div>

                                <ul class="card-mada">
                                    <li class="preview-info-list__item">
                                        <span class="preview-info-list__label">المطلوب</span>
                                        <div data-v-6325d1f0="" class="title">
                                            @item.TargetMoney
                                        </div>
                                        <div class="descrption">@item.Currency</div>
                                    </li>
                                    <li class="preview-info-list__item">
                                        <span class="preview-info-list__label">المتبقي</span>
                                        <div data-v-6325d1f0="" class="title">
                                            @left
                                        </div>
                                        <div class="descrption">@item.Currency</div>
                                    </li>
                                </ul>

                                <div class="progressBar">
                                    <div class="progressBar-section">
                                        <div class="progress-fill" style="width:@Perc%">
                                            <div class="persentage" style="color:@PColor !important">@Perc%</div>
                                        </div>
                                    </div>
                                </div>


                                <div class="donation-method">
                                    <div class="add-number">

                                        @if (item.TypeID == 1)
                                        {
                                            <label for="donateNumber" class="col-form-label">مبلغ التبرع</label>
                                            <input id="donateNumber-@item.ID" class="form-control form-control-sm" type="text" value="30" onkeypress="return isNumber(event)" aria-label="default input example">
                                        }
                                        else
                                        {

                                            <label for="donateNumber" class="col-form-label">عدد الاسهم</label>
                                            <div class="arrowsControl">
                                                <button onclick="AddValueSpan('@item.StockPrice.Value', '@item.ID', '@left')">+</button>
                                                <span class="numberOFarrows" id="ArrowNo-@item.ID">1</span>
                                                <button onclick="MinusValueSpan('@item.StockPrice.Value', '@item.ID')">-</button>
                                                <span id="PriceValue-@item.ID" class="arrows-increase">@item.StockPrice.Value</span>
                                                <span class="arrows-increase"> @item.Currency</span>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <div class="cardfooter-action">
                                    <div class="action-btns">
                                        @*<button class="donation-btn">تبرع سريع</button>*@
                                        <button class="donation-btn-outline" onclick="AddToCart('@item.ID','@item.Header','@item.TypeID')">اضافة للسلة</button>
                                    </div>
                                    <div class="gift-donation">
                                        <img onclick="ToggleCard()" src="~/images/gift.svg" />
                                    </div>
                                </div>

                            </div>



                            <div id="GiftCard" class="GiftDonationCard d-none">
                                <div class="GiftDonationBody">
                                    <div class="Giftcard-header">
                                        <div class="card-title text-center">بيانات الإهداء</div>
                                        <i style="cursor:pointer" onclick="ToggleCard()" class="fa-solid fa-xmark fa-lg"></i>
                                    </div>

                                    <div class="GiftContentBody">
                                        <form>
                                            <input class="form-control form-control-sm"
                                                   type="text"
                                                   placeholder="اسم المتبرع"
                                                   aria-label=".form-control-sm example" />
                                            <input class="form-control form-control-sm"
                                                   type="text"
                                                   placeholder="اسم المهدي له"
                                                   aria-label=".form-control-sm example" />
                                            <input class="form-control form-control-sm"
                                                   type="text"
                                                   placeholder="رقم جوال المهدي له 05xxxxxxx"
                                                   aria-label=".form-control-sm example" />
                                            <div class="form-floating">
                                                <textarea class="form-control"
                                                          placeholder="اكتب رسالتك"
                                                          id="floatingTextarea2"
                                                          style="height: 150px; resize: none"></textarea>
                                            </div>

                                            <div class="text-center Giftbtn">
                                                <button>اهداء</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>
                }


            </div>
        </div>
    </div>
</div>



<!--payment methods-->

<div class="payment-section">
    <h3 class="sectionTitle text-center mt-5">طرق الدفع </h3>

    <div class="container mb-5">
        <div class="row text-center">
            <div class="col mb-3">

                <img class="payment-img" src="~/images/visa.svg" />

            </div>
            <div class="col mb-3">

                <img class="payment-img" src="~/images/master.svg" />

            </div>
            <div class="col mb-3">
                <img class="payment-img" src="~/images/mada.svg" />

            </div>
            <div class="col mb-3">
                <img class="payment-img" src="~/images/Apple_Pay-Logo.wine-removebg-preview.png" />
            </div>
            <div class="col mb-3">
                <img style="width:46px; margin-top:-5px" src="~/images/png-transparent-wire-transfer-bank-account-payment-exchange-rate-payment-method-text-service-logo-removebg-preview.png" />
            </div>



        </div>
    </div>

</div>


@section scripts{
    <script src="~/Scripts/Homepage.js"></script>
    <script>
        var CartURL = '@Url.Action("AddToSession", "Home")';
        var FreeDonation = '@Url.Action("AddFreeDonation", "Home")';
        var RefreshLink = "No";

        const GiftCard = document.getElementById("GiftCard")
        function ToggleCard() {

            GiftCard.classList.toggle("d-none")
        }



    </script>
}
