@model NCCM.Database.PopUpUpdate

@{
     ViewBag.Title = "Update Pop Up ";
}

<link href="~/assets/select2/dist/css/select2-bootstrap.min.css" rel="stylesheet" />
<link href="~/assets/select2/dist/css/select2.css" rel="stylesheet" />
<link href="~/assets/select2/dist/css/select2.min.css" rel="stylesheet" />
<link href="~/assets/sweetalert/sweetalert.css" rel="stylesheet" />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.HiddenFor(x => x.ID)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div id="updateProgress" style="position: fixed;display:none; text-align: center; height: 100%; width: 100%; top: 0; right: 0; left: 0; z-index: 9999999; background-color: #000000; opacity: 0.7;">
            <div style="position:relative; top:40%; width:100%; text-align:center;">
                <i class="fa fa-cog fa-spin fa-5x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="example-basic">
                    <div class="row">



                        <div class=" col-lg-6 mb-4">
                            <label for="exampleFormControlInput1" class="form-label"> العنوان<span></span></label>

                            @Html.EditorFor(model => model.Header, new { htmlAttributes = new { @class = "form-control", @placeholder = "ادخل العنوان", @id = "Header", @onkeyup = "ValidationRefresh('Header', 'ValidHeader')" } })
                            @Html.ValidationMessageFor(model => model.Header, "", new { @class = "text-danger", @id = "ValidHeader" })

                        </div>

                        <div class=" col-lg-6  mb-5">
                            <label for="exampleFormControlInput1" class="form-label"> المحتوى<span></span></label>

                            <input class="form-control" name="PopUpContent" id="PopUpContent" type="text" value="@Model.PopUpContent" placeholder="ادخل المحتوى" onkeyup="ValidationRefresh('PopUpContent', 'ValidContent')" />
                            @Html.ValidationMessageFor(model => model.PopUpContent, "", new { @class = "text-danger", @id = "ValidContent" })

                        </div>

                        <div class="mb-5">
                            <label for="exampleFormControlInput1" class="form-label"> الرابط<span></span></label>
                            <input class="form-control" name="Link" id="Link" type="text" placeholder="ادخل الرابط" value="@Model.Link" onkeyup="ValidationRefresh('Link', 'ValidLink')" />
                            @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger", @id = "ValidLink" })

                        </div>


                        @if (Model.ID != -1)
                        {
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label" style="display:block">الحالة</label>
                                <div id="MainPage">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label form-label" for="inlineRadio1">نشط</label>
                                        @if (Model.IsActive == true)
                                        {
                                            <input class="form-check-input" type="radio" name="IsActive" id="inlineRadio1" value=true checked>
                                        }
                                        else
                                        {
                                            <input class="form-check-input" type="radio" name="IsActive" id="inlineRadio1" value=true>
                                        }
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label form-label" for="inlineRadio2">غير نشط</label>
                                        @if (Model.IsActive == false)
                                        {
                                            <input class="form-check-input" type="radio" name="IsActive" id="inlineRadio2" value=false checked>
                                        }
                                        else
                                        {
                                            <input class="form-check-input" type="radio" name="IsActive" id="inlineRadio2" value=false>
                                        }
                                    </div>
                                    <span class="text-danger" id="validStatus"></span>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label" style="display:block">الحالة</label>
                                <div id="MainPage">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label form-label" for="inlineRadio1">نشط</label>
                                        <input class="form-check-input" type="radio" name="IsActive" id="inlineRadio1" value=true checked>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label form-label" for="inlineRadio2">غير نشط</label>
                                        <input class="form-check-input" type="radio" name="IsActive" id="inlineRadio2" value=false>
                                    </div>
                                </div>
                                <span class="text-danger" id="validStatus"></span>
                            </div>
                        }


                        <div class="text-center mt-5 last-buttons">
                            <button type="button" class="button-history-add" value="اضافة" onclick="Save()">حفظ</button>
                            <button type="button" class="button-history-Cancel" onclick="window.location.href = '@Url.Action("Index", "PopUpUpdate")'">إلغاء</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

}

@*<div>
        @Html.ActionLink("عودة الى القائمة", "Index")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/assets/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/select2/dist/js/select2.full.js"></script>
    <script src="~/assets/select2/dist/js/select2.full.min.js"></script>
    <script src="~/assets/select2/dist/js/select2.js"></script>
    <script src="~/assets/select2/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
                            $("#latest-news-tab-3").addClass('active').parent().siblings().find('a').removeClass('active');
            $("#SettingsTab").addClass('active2').parent().siblings().find('a').removeClass('active2');

        })

        

         function Save() {
            var formdata = new FormData($('form').get(0));
            var tag = document.getElementById('updateProgress');
            tag.style.display = 'block';
        $.ajax({
        url: '@Url.Action("Save", "PopUpUpdate")',
        type: 'POST',
        data: formdata,
        processData: false,
        contentType: false,
        success: function (data) {
            if (data.IsValid) {
                swal({
                    title: data.Message,
                    text: "نجاح",
                    type: "success",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "تم",
                    closeOnConfirm: false
                }, function () {
                    window.location.href = "@Url.Action("Index", "PopUpUpdate")";

                });


                tag.style.display = 'none';
            }
            else {
                swal({
                    title: "خطأ!",
                    text: data.Message,
                    type: "error",
                });

                tag.style.display = 'none';
         if (data.ValidFieldID != "") {
                    document.getElementById(data.ValidFieldID).innerText = data.Message;
                    $("#" + data.FieldID).css('border-color', 'red');

                }

       }

        },
        error: function () {

            swal({
                title: "خطأ!",
                text: "حدث خطأ",
                type: "error",
            });
            tag.style.display = 'none';

        }
    });

        }

         function ValidationRefresh(inputid, validid) {

                document.getElementById(validid).innerText = "";
                $("#" + inputid).css('border-color', '');

        }

        
    </script>
}





