@model IEnumerable<DCSA.Database.Caus>
@{
	ViewBag.Title = "المشاريع";
}

<link href="~/assets/sweetalert/sweetalert.css" rel="stylesheet" />

<div id="updateProgress" style="position: fixed;display:none; text-align: center; height: 100%; width: 100%; top: 0; right: 0; left: 0; z-index: 9999999; background-color: #000000; opacity: 0.7;">
    <div style="position:relative; top:40%; width:100%; text-align:center;">
        <i class="fa fa-cog fa-spin fa-5x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
</div>

<!-- ---------title and refresh----------------- -->
<div class="row">

	<div class="col-md-7">
		<span class="Missing-children-title">المشاريع المتاحه</span>
	
	</div>
	<div class="col-md-5 report-icons2">

		@*<button type="button" class="Missing-children-button-refresh"> <img class="Missing-children-icon" src="~/Content/Icons/reload.svg" /> تحديث</button>*@
	
			<a class="Missing-children-button" href="@Url.Action("Manage", "PageBuilder")">اضافة</a>
		
		
		@*<button type="button" class="Missing-children-button-XLS">XLS</button>*@
	</div>

</div>
<hr>
<!--table-->
<div>
	<table style="width: 100%;" class="table table-striped">
		<thead>
			<tr>
				<th>اسم المشروع</th>
                <th> نوع اليه الدفع</th>
                <th>المستهدف</th>
				<th>المتبقي</th>
                <th>تم جمعه</th>

			</tr>
		</thead>
		<tbody>
		@foreach (var item in Model)
        {
            var Collected = item.Donations.Sum(y => y.Amount).HasValue ? item.Donations.Sum(y => y.Amount).Value : 0;
            var Remain = item.TargetMoney.Value - (item.Donations.Sum(y => y.Amount).HasValue ? item.Donations.Sum(y => y.Amount).Value : 0);
			<tr>
				<td>@item.Header</td>
				<td> @item.CauseType.Name</td>
				<td>@item.TargetMoney</td>
                <td>@Remain</td>
				<td>@Collected</td>
				<td>
					<a class="table-button-edit" href="@Url.Action("Manage","PageBuilder",new { ID = item.ID })">تعديل</a>
					<button type="button" class="table-button-hide" onclick="Delete('@item.ID')">مسح</button>
				</td>
			</tr>
        }



		</tbody>
	</table>


</div>


@section scripts{
	<script src="~/assets/sweetalert/sweetalert.min.js"></script>

	<script src="~/Scripts/printThis.js"></script>

	<script>
        $(document).ready(function () {
        

        });

       
        function Publish(id, type) {
        if(type == 1){
        swal({
                title: "هل انت متأكد؟",
           text: "هل تريد نشر الصفحة؟",

                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "نعم",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    type: "Post",

                    url: '@Url.Action("Publish", "PageBuilder", new { area = "AdminPanel"})',
                    data: { id: id , type:type},
                    success: function (data) {
                        if (data.IsValid) {


                            swal({
                    title: data.Message,
                    text: "نجاح",
                    type: "success",

                }, function () {
                    window.location.reload();

                });


                        }
                        else {
                            swal("فشل!", data.Message, "Fail");
                        }
                    }
                });

            });
        }
            else{
        swal({
                title: "هل انت متأكد؟",
           text: "هل تريد ايقاف الصفحة؟",

                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "نعم",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    type: "Post",

                    url: '@Url.Action("Publish", "PageBuilder", new { area = "AdminPanel"})',
                    data: { id: id , type:type},
                    success: function (data) {
                        if (data.IsValid) {


                            swal({
                    title: data.Message,
                    text: "نجاح",
                    type: "success",

                }, function () {
                    window.location.reload();

                });


                        }
                        else {
                            swal("فشل!", data.Message, "Fail");
                        }
                    }
                });

            });
        }
        }

        function Delete(id) {

            swal({
                title: "هل انت متأكد؟",
                text: "هل تريد مسح الصفحة؟",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "نعم",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    type: "Post",

                    url: '@Url.Action("DeletePage", "PageBuilder", new { area = "AdminPanel"})',
                    data: { id: id },
                    success: function (data) {
                        if (data.IsValid) {
                            $('#Tr-' + id).remove();

                            swal("نجاح!", data.Message, "success");


                        }
                        else {
                            swal("فشل!", data.Message, "Fail");
                        }
                    }
                });

            });
        }

        function Search() {
            var tag = document.getElementById('updateProgress');
            tag.style.display = 'block';
            var searchValue = document.getElementById("SearchButton").innerText;
            var search = document.getElementById("SearchInput").value;
            
            location.href = '@Url.Action("Index", "PageBuilder")?Type=' + @ViewBag.ID + "&Search=" + search + "&searchValue=" + searchValue;
        }

	</script>
}
